footer {
}
//====================================================================================================
.footer {
    // .footer__content
    &__content {
    }

    // .footer__menu

    &__menu {
        background: $mainColor;
        padding: 50px;
        color: $lightTextColor;
    }

    // .footer__menu-row

    &__menu-row {
        display: flex;
        @media (max-width: $md3+px) {
            display: block;
        }
    }

    // .footer__menu-column

    &__menu-column {
        flex: 1 1 20%;
    }

    // .footer__menu-title

    &__menu-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 24 / 16 * 100%;
        letter-spacing: 0.1px;
        margin: 0px 0px 20px 0px;
    }

    // .footer__menu-list

    &__menu-list {
        font-weight: 600;
        font-size: 14px;
        line-height: 24 / 14 * 100%;
        letter-spacing: 0.2px;
    }

    // .footer__menu-item

    &__menu-item {
        margin: 0px 0px 10px 0px;
        span {
            img {
                margin: 0px 10px 12px 0px;
            }
        }
        &:last-child {
            margin: 0;
        }
    }

    // .footer__menu-item-send

    &__menu-item-send {
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    // .footer__menu-item-send-mobile

    &__menu-item-send-mobile {
        @media (min-width: $md3+px) {
            display: none;
        }
    }

    // .footer__menu-link

    &__menu-link {
        color: $lightTextColor;
    }

    // .footer__text

    &__text {
        background-color: $lightTextColor;
        padding: 25px 50px;
        display: flex;
    }

    // .footer__text-item

    &__text-item {
        flex: 1 0 50%;
    }

    // .footer__text-made

    &__text-made {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.2px;
        color: $secondTextColor;
    }

    // .footer__text-social

    &__text-social {
        display: flex;
        justify-content: flex-end;
        font-size: 24px;
        a {
            color: $buttonColor;
        }
    }
}

.social {
    // .social__item

    &__item {
        margin: 0px 20px 0px 0px;
        &:last-child {
            margin: 0;
        }
    }
}

//====================================================================================================
