//====================================================================================================
.features {
    // .features__content
    background-color: $mainColor;
    color: $lightTextColor;
    &__content {
        padding: 95px 0px;
    }

    // .features__row

    &__row {
        display: flex;
        margin: 0px auto;
        padding: 40px 50px;
        @media (max-width: $md3+px) {
            display: block;
            padding: 40px 0px;
        }
    }

    // .features__item

    &__item {
        flex: 0 1 33.333%;
        text-align: center;
        @media (max-width: $md3+px) {
            margin: 80px 0px 70px 0px;
            &:last-child {
                margin: 0px 0px 40px 0px;
            }
        }
    }

    // .features__icon

    &__icon {
        color: $buttonColor;
        font-size: 40px;
        margin: 0px 0px 30px 0px;
    }

    // .features__title

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 24 / 16 * 100%;
        margin: 0px 0px 10px 0px;
    }

    // .features__text

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 20 / 14 * 100%;
    }
}

._icon-mind,
._icon-life,
._icon-satisfaction {
    @media (max-width: $md3+px) {
        display: none;
    }
}

._icon-resiz {
    color: $buttonColor;
    font-size: 40px;
    margin: 0px 0px 30px 0px;
    @media (min-width: $md3+px) {
        display: none;
    }
}
//====================================================================================================

.industry {
    // .industry__users

    &__users {
        background: #8ec2f2;
        padding: 100px;
        @media (max-width: $md3+px) {
            padding: 35px 42px 80px;
        }
    }

    // .industry__users-title

    &__users-title {
        margin: 0px 0px 10px 0px;
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    // .industry__users-title-mobile

    &__users-title-mobile {
        margin: 0px 0px 10px 0px;
        @media (min-width: $md3+px) {
            display: none;
        }
    }

    // .industry__users-subtitle

    &__users-subtitle {
        margin: 0px 0px 50px 0px;
    }

    // .industry__users-row

    &__users-row {
        display: flex;
        margin: 0px -68.5px;
        @media (max-width: $md3+px) {
            display: block;
        }
    }

    // .industry__users-column

    &__users-column {
        flex: 0 1 50%;
        padding: 0px 68.5px;
        @media (max-width: $md3+px) {
            margin: 0px 0px 30px 0px;
            &:last-child {
                margin: 0;
            }
        }
    }

    // .industry__users-item

    &__users-item {
        background: #ffffff;
        display: flex;
        padding: 30px 40px;
    }

    // .industry__users-foto

    &__users-foto {
        position: relative;
        height: 72px;
        width: 72px;
        top: -15px;
        left: -90px;
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__users-foto img {
        min-width: 100%;
        min-height: 100%;
    }

    // .industry__users-item-body

    &__users-item-body {
        margin: 0px 0px 0px -40px;
        @media (max-width: $md3+px) {
            margin: 0;
        }
    }

    // .industry__users-name

    &__users-name {
        font-weight: bold;
        font-size: 24px;
        line-height: 32 / 24 * 100%;
        letter-spacing: 0.1px;
        color: inherit;
        margin: 0px 0px 10px 0px;
    }

    // .industry__users-position

    &__users-position {
        font-weight: 600;
        font-size: 14px;
        line-height: 24 / 14 * 100%;
        letter-spacing: 0.2px;
        color: $secondTextColor;
        margin: 0px 0px 15px 0px;
    }

    // .industry__users-rating

    &__users-rating {
    }

    // .industry__users-text

    &__users-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 20 / 14 * 100%;
        letter-spacing: 0.2px;
    }
}

.users {
    // .users__rating

    &__rating {
        font-size: 24px;
        display: flex;
        justify-content: flex-start;
        color: #f3cd03;
        margin: 0px 0px 15px 0px;
    }
    &__rating-item {
        padding: 0px 5px 0px 0px;
    }
    &__rating-item:last-child {
        padding: 0px 0px 0px 0px;
    }
}

//====================================================================================================
.industry {
    // .industry__content
    background: #252b42;
    padding: 100px 20px;
    &__content {
    }

    // .industry__title

    &__title {
        margin: 0px 0px 10px 0px;
    }

    // .industry__subtitle

    &__subtitle {
        margin: 0px 0px 96px 0px;
    }

    // .industry__row

    &__row {
        display: flex;
        height: 452px;
        margin: 0px -15px;
    }

    // .industry__column

    &__column {
        max-width: 100%;
        flex: 0 1 25%;
        display: flex;
        padding: 0px 15px;
    }

    &__background01 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%),
            url("../img/industry/01.jpg") 0 0 / 100% 100% no-repeat;
    }

    &__background02 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%),
            url("../img/industry/02.jpg") 0 0 / 100% 100% no-repeat;
    }

    &__background03 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%),
            url("../img/industry/03.jpg") 0 0 / 100% 100% no-repeat;
    }

    &__background04 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%),
            url("../img/industry/04.jpg") 0 0 / 100% 100% no-repeat;
    }
    // .industry__items

    &__items {
        color: $lightTextColor;
        padding: 0px 0px 20px 20px;
    }
}

.item {
    // .item__category

    &__category {
        font-weight: 600;
        font-size: 14px;
        line-height: 24 / 14 * 100%;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin: 0px 0px 15px 0px;
    }

    // .item__title

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 30 / 20 * 100%;
        letter-spacing: 0.2px;
        margin: 0px 0px 15px 0px;
    }

    // .item__button

    &__button {
        height: 42px;
        padding: 0px 36px;
        border-radius: 37px;
    }
}
